.sidebar {
  width: 240px;
  background-color: #031e46;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px 15px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-logo {
  width: 40px;
  height: auto;
  margin-bottom: 8px;

}

.sidebar-header h2 {
  font-size: 18px;
  margin: 0;
}

.sidebar-header p {
  font-size: 14px;
  margin-top: 4px;
  color: #cce5ff;
}

.sidebar-nav {
  flex: 1;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background-color: #0b5ed7;
}

.sidebar-footer {
  margin-top: auto;
}

.logout {
  color: #da1010;
}
